<div class="footer">
    <p class="pull-left">
         Copyright &copy; 2022 Blog.io
    </p>
    <p class="pull-right">
         Developed by <b>Sai Acharya</b>
    </p>
    <div class="clearfix">
    </div>
</div>