<%- include('./partials/header.ejs') -%>

<!-- Begin Nav
================================================== -->

	<%- include('./partials/navbar.ejs') -%>

<!-- End Nav
================================================== -->

<!-- Begin about
================================================== -->
<div class="container">
    <h1 style="font-weight: lighter; margin-left: 16em; padding: 8px;"> About Us </h1>
	<div class="logo" style="background-color: whitesmoke; height: 13em; width: 20em; padding: 4em; margin-top: 3em; margin-bottom: 20em;">
        <h1><i class="fa fa-paperclip"></i> Blog.io</h1>
    </div>
    <div class="aboutInfo" style="float: right; margin-top:-32em; width: 45em; height: 12em;">
        <p>
            Blog.io is a platform for bloggers to post their articles and the passage experienced a surge in 
            popularity during the 1960s when Letraset used it on their dry-transfer sheets, and again during the 90s as desktop 
            publishers bundled the text with their software. Today it's seen all around the web; on templates, websites, and stock
            designs. Use our generator to get your own, or read on for the authoritative history of lorem ipsum.The passage experienced 
            a surge in popularity during the 1960s when Letraset used 
        </p>
    </div>
<!-- End Login form
================================================== -->


<!-- Begin Footer
================================================== -->

	<%- include('./partials/footer.ejs') -%>

<!-- End Footer
================================================== -->
</div>
<!-- /.container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
