<div class="footer">
    <p class="pull-left">
         Copyright &copy; 2022 Blog.io
    </p>
    <p class="pull-right">
         Developed with ❤️ by <a target="_blank" href="">Sai Acharya</a>
    </p>
    <div class="clearfix">
    </div>
</div>