<%- include('./partials/header.ejs') -%>

<!-- Begin Nav
================================================== -->

    <%- include('./partials/Navbar.ejs') -%>

<!-- End Nav
================================================== -->

<!-- Begin User Posts
================================================== -->
<div class="container">
	<section class="vh-100" style="background-color: white">
	<div class="row listrecent listrelated">
		<!-- begin post -->
		<%  %> 
		<div class="col-md-4">
			<div class="card">
				<a href="post.html">
				<img class="img-fluid img-thumb" src="assets/img/demopic/9.jpg" alt="">
				</a>
				<div class="card-block">
					<h2 class="card-title"><a href="post">Best recreational places to visit on a holiday</a></h2>
					<div class="metafooter">
						<div class="wrapfooter">
							<span class="meta-footer-thumb">
							<a href="author.html"><img class="author-thumb" src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x" alt="Sal"></a>
							</span>
							<span class="author-meta">
							<span class="post-name"><a href="author.html">Sal</a></span><br/>
							<span class="post-date">22 July 2022</span><span style='margin-right:12em'></span> 
							</span>
							<span class="post-read-more"><a href="editPosts" title="Edit Post"><i class="fa fa-edit fa-3x"></i></a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end post -->
</div>
<!-- End User Posts
================================================== -->

<!-- Begin Footer
================================================== -->

	<%- include('./partials/footer.ejs') -%>
	
<!-- End Footer
================================================== -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="assets/js/mediumish.js"></script>
</body>
</html>
